.box-label {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
}

.input-text {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #613D9B;
  border-radius: 10px;
  height: 30px;
  padding: 5px 10px;
  margin-top: 10px;
}

.input-text:focus, .input-text:active {
  outline: none;
  border: 2px solid #E72F85;
}