.container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.movie-img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}
.movie-box {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-box p {
  margin: 10px 0;
}

.box-title {
  color: #59398E;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}