.img-legend {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  color: white;

  display: flex;
}

.text-legend {
  flex: 4;
  padding: 12px 0px;
}

.more-details {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-details a {
  background-color: #e72f85;
  border: 0px;
  border-radius: 20px;
  width: 37px;
  height: 37px;
  color: white;
  font-size: 35px;
  padding: 0px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.more-details a:hover {
  background-color: #e5bace;
  color: #e72f85;
}

.more-details a:focus {
  outline: none;
}

.more-details a span {
  font-weight: 600;
}

.img-legend div {
  white-space: nowrap;
  overflow: hidden;
}

.img-legend div h4,
h6 {
  margin: 4px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
